html{
	margin-right: 10%;
	margin-left: 10%;
	background:url('https://github.com/carollee208/carollee208.github.io/raw/master/pictures/tree.jpg') no-repeat center center fixed;
	background-color: #AE83AB;
	background-size: cover;
	
}
/*

img.bg {
  /* Set rules to fill background 
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling 
  width: 100%;
  height: auto;
	
  /* Set up positioning 
  position: fixed;
  top: 0;
  left: 0;
}

*/

header{
	background-color: #FFFFFF;
}
h1 {
	font-size: 50px;
	text-align: center;
	font-family: 'Dosis','Josefin Sans', Times, Georgia ,serif;
	text-decoration: none;
	text-transform: uppercase;

}
h1 a{
	font-size: 50px;
	text-align: center;
	font-family: 'Dosis','Josefin Sans', Times, Georgia ,serif;
	text-decoration: none;
	text-transform: uppercase;
	color: #566A75;

}

h1 a:hover{
	color: #000000;
	text-decoration: none;
}

hr {
	clear: both;

}

#socialheader {
	float: right;
	list-style-type: none;
}

#socialheader a {
	list-style-type: none;
}

#nav{
	list-style-type: none;
	font-size: 24px;
	font-family: 'Dosis','Josefin Sans', Times, Georgia ,serif;
	font-style: italic;
	margin: 0;
	padding: 0;
	margin-left: 55px;

}
#nav .wrap {
	text-align: center;
}
#nav li {
	display: inline;
	float: center;
	font-color: #000000;
	padding-right: 10px;


}
#nav a {
	text-decoration: none;
	list-style-type: none;
	color: #566A75;

}

#nav a:visited{
	text-decoration:none;
	color: #566A75;

}
#nav a:hover{
	text-decoration:underline;
	color: #000000;

}
#nav a:active{
	text-decoration:underline;
	font-color: #566A75;

}

body
{
	background-color: #FFFFFF;
	border-style: groove;
	border-color: #AEA7A7 #000000;
	border-width: 8px;
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	margin:3%;
	padding:0;
	height:100%;

}
section {
	float: left;
	width: 60%;
	display: block;
	padding-left: 35px;
	padding-right: 35px;
	margin-left: 5px;
	margin-right: 5px;
}

p{
	text-align: left;
	font-family: 'Dosis', 'Josefin Sans', Times, Georgia ,serif;
	font-size: 16px;
	text-indent: 20px;
	font-color: #517E8E;
	}


aside{
	float: right;
	position: top;
	display: block;
	width: 30%;

}

footer{
	font-family: 'Dosis', 'Josefin Sans', Times, Georgia ,serif;
	text-align: center;

}
img.twitter{
	width: 2em;
	height: 2em;
}
img.linkedin{
	width: 2em;
	height: 2em;
}

img.flower
{
	width: 500px;
	height: 375px;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
h2, h3 {
	font-size: 18px;
	font-family: 'Dosis', 'Josefin Sans', Times, Georgia, serif;
}

#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	background:#FFFFFF;
}
#content {
	padding-bottom:30px;    /* Height of the footer element */
}
#footer {
	/* width: 100%; */
	position:absolute;
	bottom:0;
	height: 30px;
	background:#FFFFFF;
}
