html{
	margin-right: 10%;
	margin-left: 10%;
	background-color: #AE83AB;
}

header{
	border-radius: 30px;
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
	background-color: #FFFFFF;
}
h1 {
	font-size: 50px;
	text-align: center;
	font-family: 'Dosis','Josefin Sans', Times, Georgia ,serif;
	text-decoration: none;
	text-transform: uppercase;
	margin-top: 3%;

}
h1 a{
	font-size: 50px;
	text-align: center;
	font-family: 'Dosis','Josefin Sans', Times, Georgia ,serif;
	text-decoration: none;
	text-transform: uppercase;
	margin-top: 3%;
	color: #AE83AB;

}

h1 a:hover{
	color: #000000;
	text-decoration: none;
}

hr {
	clear: both;

}

#socialheader {
	float: right;
	list-style-type: none;
}

#socialheader a {
	list-style-type: none;
}

#nav{
	list-style-type: none;
	font-size: 24px;
	font-family: 'Dosis','Josefin Sans', Times, Georgia ,serif;
	font-style: italic;
	font-color: #000000;
	margin: 0;
	padding: 0;
	margin-left: 55px;

}
#nav .wrap {
	text-align: center;
}
#nav li {
	display: inline;
	float: center;
	font-color: #000000;
	padding-right: 10px;


}
#nav a {
	text-decoration: none;
	list-style-type: none;
	color: #AE83AB;

}

#nav a:visited{
	text-decoration:none;
	color: #AE83AB;

}
#nav a:hover{
	text-decoration:underline;
	color: #000000;

}
#nav a:active{
	text-decoration:underline;
	font-color: #AE83AB;

}

body
{
	background-color: #FFFFFF;
	border-style: groove;
	border-color: #AEA7A7 #000000;
	border-width: 8px;
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;

}
section {
	float: left;
	width: 60%;
	display: block;
	border-style: groove;
	padding-left: 50px;
	padding-right: 50px;
	margin-left: 5px;
	margin-right: 5px;
}

p{
	text-align: left;
	font-family: 'Lora', 'Josefin Sans', Times, Georgia ,serif;
	font-size: 16px;
	text-indent: 20px;
	font-color: #517E8E;
	}


aside{
	float: right;
	display: block;
	width: 30%;
	height: 50%;

}

footer{
	font-family: 'Dosis', 'Josefin Sans', Times, Georgia ,serif;
	text-align: center;
	margin-bottom: 3%;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;

}
img.twitter{
	width: 2em;
	height: 2em;
}
img.linkedin{
	width: 2em;
	height: 2em;
}

img.flower
{
	width: 500px;
	height: 375px;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
h2, h3 {
	font-size: 18px;
	font-family: 'Lora', 'Josefin Sans', Times, Georgia, serif;
}
